/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.filters button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.filters button.active,
.filters button:hover {
	background-color: #1D6154;
	color: white;
}

/* Mode Édition */
.edit-bar {
	background-color: black;
	color: white;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.modify-btn {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	color: black;
	text-decoration: none;
	margin-left: 20px;
}

/* Modale */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-wrapper {
	background-color: white;
	width: 630px;
	max-width: 95%;
	padding: 60px 100px;
	border-radius: 10px;
	position: relative;
}

.js-modal-close {
	position: absolute;
	top: 30px;
	right: 30px;
	border: none;
	background: none;
	font-size: 20px;
	cursor: pointer;
}

#modal-back-btn {
	position: absolute;
	top: 30px;
	left: 30px;
	border: none;
	background: none;
	font-size: 20px;
	cursor: pointer;
}

.modal h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	margin-bottom: 40px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin-bottom: 40px;
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.modal-gallery .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 2px;
	font-size: 10px;
	cursor: pointer;
}

.modal hr {
	border: 0;
	border-top: 1px solid #B3B3B3;
	margin-bottom: 30px;
}

#add-photo-btn,
#submit-photo {
	display: block;
	margin: 0 auto;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 60px;
	padding: 10px 40px;
	font-family: 'Syne';
	font-weight: 700;
	cursor: pointer;
}

#submit-photo:disabled {
	background-color: #A7A7A7;
	cursor: not-allowed;
}

/* Formulaire d'ajout */
.upload-area img#preview-image {
	max-height: 169px;
	/* Taille exacte de la zone bleue */
	max-width: 100%;
	object-fit: contain;
	margin: 0 auto;
}

.upload-area {
	height: 169px;
	/* On fixe la hauteur pour éviter qu'elle ne bouge */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	/* Empêche tout débordement */
}

.upload-area i {
	font-size: 60px;
	color: #B9C5CC;
	margin-bottom: 10px;
}

.custom-file-upload {
	background-color: #CBD6DC;
	color: #306685;
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
	margin-bottom: 10px;
}

#file-upload {
	display: none;
}

.upload-area p {
	font-size: 10px;
}

#add-photo-form label {
	display: block;
	margin-bottom: 10px;
}

#add-photo-form input[type="text"],
#add-photo-form select {
	width: 100%;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
}